$black: #000000;
$black-theme: #12151E;
$black-blue: #1B1E27;
$white: #FFFFFF;
$azure: #0089FF;
$azure2: #0487FD;
$lam: #8C99B2;
$deep: #5B607D;
$deepblue: #606580;
$deeporange: #FF8C00;
$barv: #D7E2F2;
$yellow: #F7931E;
$red: #FF0000;
$gray: #303549;
$grayish: #272A38;
$bluedark: #171A24;
$blue: #1F3F68;
$grayblue: #5A98D0;
$darkblue: #316099;
