@import "../../const/mixin";
@import "../../const/color";

.client {
  height: 680px;
  background-color: #5A98D0;
  border-radius: 200px 0 0 0;
  display: flex;
  justify-content: center;
  &__header{
    width: 860px;
    height: 92px;
    @include gilroy;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: $white;
    padding-top: 94px;
  }
  &__title{
    width: 223px;
    @include f36;
    letter-spacing: 0.05em;
  }
  &__subtitle{
    width: 540px;
    letter-spacing: 0.05em;
    @include f16;
    @include opac6;
  }
  &__table {
    width: 950px;
    height: 256px;
    margin-top: 123px;
    color: $white;
    @include gilroy;
    font-size: 20px;
    line-height: 46px;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__table-cell{
    width: 235px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    &:hover{
      @include pointer;
      color: black;
    }
    &:nth-child(n+5) {
      border-bottom: none;
    }
    &:nth-child(4n+4) {
      border-right: none;
    }
    &_more{
      background-color: rgba(31, 63, 104, 0.2);
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1150px) {

}

@media screen and (min-width: 320px) and (max-width: 767px) {
.client {
  &__container {

  }
  &__header{
    width: 300px;
    flex-direction: column;
  }
  &__title{
    width: 223px;
    @include f36;
  }
  &__subtitle{
    width: 260px;
    @include f16;
  }
  &__table {
    width: 240px;
  }
}
}
